.header__lang-link { 
  padding: 0;
  color: white;
  font-size: 1.5rem;
  line-height: 28px;
  margin-left: 18px;
  text-decoration: none;
  transition: opacity linear 0.2s;
}

.header__lang-link:hover {
  text-decoration: underline;
  opacity: 0.5;
}

