.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 6rem;
  line-height: 104%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
}

@media  (max-width: 768px) {
  .lead__title {
    font-size: 5rem;
    margin: 0 auto;
    max-width: 600px;
  }
}

/*this is good up to 396px*/
@media (max-width: 498px) {
  .lead__title {
    font-size: 3.5rem;
    max-width: 400px;
  }
}


@media(max-width: 400px) {
  .lead__title  {
    font-size: 2.5rem;
    line-height: 110%;
    max-width: 288px;
    padding-bottom: 16px;
  }
}