.lead__image-container {
  max-width: 984px;
}

@media(max-width: 1024px) {
  .lead__image-container {
    max-width: 928px;
  }
}

@media(max-width: 768px) {
  .lead__image-container {
    max-width: 100vw;
  }
}

@media (max-width: 420px)  {
  .lead__image-container {
    margin: 0;
    max-width: 100vw;
    height: 100%;
  }
}