@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__link/place__link.css');
@import url('./__description/place__description.css');
@import url('./__paragraph/place__paragraph.css');


.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  grid-column-gap: 40px;
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px)  {
  .place {
    grid-column-gap: 32px;
    grid-template-columns: 440px 456px;
  }
}

@media (max-width: 768px)  {
  .place {
    grid-template-columns: 340px 352px;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 72px;
    grid-column-gap: 28px;
  }
}

@media (max-width: 320px) {
  .place {
    max-width: 320px;
    display: block;
    padding-bottom: 48px;
    margin: 0 auto;
  }
}