@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__link/place__link.css');
@import url('./__description/place__description.css');
@import url('./__paragraph/place__paragraph.css');


.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(484px, 1fr);
  grid-template-areas: 'place__title place__website'
  'place__image place__paragraph_first'
  'place__image place__paragraph_second'
  'place__image place__paragraph_price';
}

@media (max-width: 1024px)  {

  .place {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px)  {

  .place {
    margin-bottom: 72px;
  }
}

/*this is nice until 500px*/
@media (max-width: 700px) {
  .place {
    max-width: 620px;
    grid-template-areas:
    'place__title'
    'place__image'
    'place__website'
    'place__paragraph_first'
    'place__paragraph_second'
    'place__paragraph_price';
    padding-bottom: 48px;
    margin: 0 auto;
  }
}


@media (max-width: 500px) {
  .place {
    max-width: 320px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin: 0 auto;
  }
}


@media (max-width: 320px) {
  .place {
    max-width: 320px;
    grid-template-areas:
    'place__title'
    'place__image'
    'place__website'
    'place__paragraph_first'
    'place__paragraph_second'
    'place__paragraph_price';
    padding-bottom: 48px;
    margin: 0 auto;
  }

}